:root{
  --dark-gray: #212529;
  --white: rgb(255, 255, 255);
  --maroon: #8C1D40;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  background-color: var(--dark-gray);
  color: var(--white);
  font-family: "Recursive", sans-serif;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  animation: focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  min-height: 100vh;
  line-height: 2rem;
}

section{
  width: 90%;  
}

.intro {
  width: 65ch;
}

h3, h4{
  padding: 1rem 0;
}

p{
  font-weight: 300;
}

a, a:visited{
  all: unset;
  cursor: pointer;
}

a:hover{
  color: var(--maroon);
  animation: fadeInOut 2s infinite;
}

footer{
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

@keyframes focus-in{
  0% {
    filter: blur(8px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes fadeInOut{
  0% { opacity: .5; }
  50% { opacity: 1; }
  100% { opacity: .5; }
}