:root{
  --dark-gray: #212529;
  --white: rgb(255, 255, 255);
  --maroon: #8C1D40;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Recursive", sans-serif;
}

body {
  background-color: var(--dark-gray);
  color: var(--white);
}

.body-day {
  background-color: #f0f0f0;
  color: #333;
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

button {
  all: unset;
}

svg {
  margin: 1rem;
}

.svg-night {
  stroke: var(--white);
}

.svg-day {
  stroke: var(--dark-gray);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.75rem;
  animation: focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  min-height: 100vh;
  line-height: 2rem;
  text-wrap: balance;
}

.tracking-letters{
  font-size: 2rem;
  animation: tracking-letters 2s cubic-bezier(0.215, 0.610, 0.355, 1) both;
}

h3, h4{
  padding: 1rem 0;
}

p{
  font-weight: 300;
  max-width: 75ch;
}

a, a:visited{
  all: unset;
  cursor: pointer;
}

a:hover{
  color: var(--maroon);
  animation: fade-in-out 2s infinite;
}

footer{
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

@keyframes tracking-letters{
  0% {
    letter-spacing: .75em;
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes focus-in{
  0% {
    filter: blur(8px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes fade-in-out{
  0% { opacity: .5; }
  50% { opacity: 1; }
  100% { opacity: .5; }
}

@media (width <= 600px) {
  .container{
    padding: 1.25rem;
  }
}